# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
.pytest_cache/

# Virtual env
.venv/
venv/
env/

# IDE
.vscode/
.idea/*.xml
.idea/*.iml
.idea/.name
.idea/inspectionProfiles/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
